USE [master]
GO
/****** Object:  Database [eHorakelleEstate]    Script Date: 8/1/2014 10:20:42 PM ******/
CREATE DATABASE [eHorakelleEstate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eHorakelleEstate.mdf' , SIZE = 5376KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eHorakelleEstate_log.ldf' , SIZE = 26816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eHorakelleEstate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eHorakelleEstate]
GO
/****** Object:  User [NT AUTHORITY\NETWORK SERVICE]    Script Date: 8/1/2014 10:20:42 PM ******/
CREATE USER [NT AUTHORITY\NETWORK SERVICE] FOR LOGIN [NT AUTHORITY\NETWORK SERVICE] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [cmsuser]    Script Date: 8/1/2014 10:20:42 PM ******/
CREATE USER [cmsuser] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AccommodationStandards]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccommodationStandards](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_AccommodationStandards] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccommodationTypes]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccommodationTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_AccommodationTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Activities]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[ChildRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Activities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActivityConductors]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityConductors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNo_LandLine] [nvarchar](25) NULL,
	[PhoneNo_Mobile] [nvarchar](25) NOT NULL,
	[FaxNo] [nvarchar](25) NULL,
	[Email] [nvarchar](50) NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_ContactPerson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BannerImages]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BannerImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [varchar](50) NOT NULL,
	[ImageDescription] [varchar](100) NOT NULL,
	[PlaceName] [varchar](100) NOT NULL,
	[Location] [nvarchar](50) NOT NULL,
	[Distance] [nvarchar](50) NULL,
	[Lat] [decimal](18, 0) NULL,
	[Lon] [decimal](18, 0) NULL,
	[PlaceUrl] [nvarchar](50) NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_BannerImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BedRooms]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedRooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[BedId] [int] NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_BedRooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Beds]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BedName] [nvarchar](100) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[Occupancy] [int] NOT NULL,
	[ChildOccupancy] [int] NOT NULL,
 CONSTRAINT [PK_Beds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookedActivities]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookedActivities](
	[Id] [int] NOT NULL,
	[Invoice_Id] [int] NOT NULL,
	[Activity_Id] [int] NOT NULL,
	[BookedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BookedActivities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BookingCarts]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingCarts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingCartId] [uniqueidentifier] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[VisitorId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
 CONSTRAINT [PK_BookingCart] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[VisitorId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaidAmount] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[BookingHtlmString] [nvarchar](max) NULL,
	[Invoice_Id] [int] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClientDiscounts]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientDiscounts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NOT NULL,
	[Percentage] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ClientDiscounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Clients]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[ClientId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [int] NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Gender] [int] NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Street] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Country] [int] NULL,
	[Zip] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Mobile] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Remarks] [nvarchar](400) NULL,
	[Active] [bit] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[DateOfBirth] [datetime] NULL,
	[DateOfJoin] [datetime] NULL,
	[UserId] [int] NULL,
	[Discount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Companies]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Website] [nvarchar](max) NULL,
	[Created] [datetime] NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompanyProfiles]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompanyProfiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NULL,
	[Email] [nvarchar](250) NULL,
	[Web] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Street] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Country] [int] NULL,
	[Zip] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Remarks] [nvarchar](400) NULL,
	[VATRegNo] [nvarchar](50) NULL,
	[Active] [bit] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[CreatedBy] [int] NOT NULL,
 CONSTRAINT [PK_CompanyProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Countries]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Article] [nvarchar](max) NULL,
	[Region_Id] [int] NULL,
 CONSTRAINT [PK_Countries_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cuisines]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cuisines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FoodType] [nvarchar](25) NOT NULL,
	[Foods] [nvarchar](250) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[ImageName] [varchar](50) NULL,
 CONSTRAINT [PK_Cuisine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [int] NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Gender] [int] NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Street] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Country] [int] NULL,
	[Zip] [nvarchar](250) NULL,
	[Phone] [nvarchar](250) NULL,
	[Mobile] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Remarks] [nvarchar](400) NULL,
	[Active] [bit] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[DateOfBirth] [datetime] NULL,
	[DateOfJoin] [datetime] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiningRates]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiningRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
	[ChildRate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_DiningRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Dinings]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dinings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FoodId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[MealType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dining] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DistrictImages]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DistrictId] [int] NOT NULL,
	[ImageName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_DistrictImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmailAttachments]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailAttachments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UniqueId] [uniqueidentifier] NOT NULL,
	[AttachmentPath] [nvarchar](250) NOT NULL,
	[Attachment] [image] NOT NULL,
 CONSTRAINT [PK_EmailAttachments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmailNotifications]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailNotifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UniqueId] [uniqueidentifier] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ToAddress] [nvarchar](100) NULL,
	[FromAddress] [nvarchar](100) NULL,
	[FromUserName] [nvarchar](50) NULL,
	[FromPassword] [nvarchar](50) NULL,
	[MailPort] [int] NULL,
	[Subject] [nvarchar](200) NULL,
	[Message] [nvarchar](max) NULL,
	[IsSend] [bit] NOT NULL,
	[GroupId] [int] NULL,
	[CompanyId] [int] NULL,
	[DivisionId] [int] NULL,
	[DepartmentId] [int] NULL,
	[SectionId] [int] NULL,
	[SentDate] [datetime] NULL,
	[CreatedDate] [datetime] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_EmailNotifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FeatureCategories]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FeatureCategories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_FeatureCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Features]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Features](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[GroupId] [int] NOT NULL,
 CONSTRAINT [PK_Features] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Website] [nvarchar](100) NULL,
	[Created] [datetime] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceNumbers]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceNumbers](
	[Id] [int] NOT NULL,
	[InvoicePrefix] [nchar](10) NOT NULL,
	[InvoiceNo] [int] NOT NULL,
 CONSTRAINT [PK_InvoiceNumber] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceNo] [varchar](50) NOT NULL,
	[CompanyId] [int] NOT NULL,
	[BookedBy] [int] NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[BillAmount] [decimal](18, 2) NOT NULL,
	[BookedDateFrom] [datetime] NOT NULL,
	[BookedDateTo] [datetime] NOT NULL,
	[PaidBy] [int] NOT NULL,
	[PaymentMade] [bit] NOT NULL,
	[Commision] [decimal](18, 2) NOT NULL,
	[BookingHtlmString] [nvarchar](max) NOT NULL,
	[Adult] [int] NOT NULL,
	[Children] [int] NOT NULL,
	[ChildBelow6] [int] NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Region_Id] [int] NULL,
	[Country_Id] [int] NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MainCities]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_MainCities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menus]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](250) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsParent] [bit] NOT NULL,
 CONSTRAINT [PK_Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[Company] [nvarchar](max) NULL,
	[Weblink] [nvarchar](max) NULL,
	[Source] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PasswordResetTokens]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetTokens](
	[TokenId] [int] IDENTITY(1,1) NOT NULL,
	[EncryptedForm] [nvarchar](max) NULL,
 CONSTRAINT [PK_PasswordResetTokens] PRIMARY KEY CLUSTERED 
(
	[TokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[Id] [int] NOT NULL,
	[PayBy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Places]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Places](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[PlaceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Distance] [decimal](18, 2) NOT NULL,
	[Lat] [decimal](18, 10) NOT NULL,
	[Long] [decimal](18, 10) NOT NULL,
	[TimeTake] [nchar](10) NOT NULL,
	[TravelBy] [int] NOT NULL,
	[PoiId] [int] NOT NULL,
 CONSTRAINT [PK_Places] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PointOfInterests]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PointOfInterests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_PointOfInterests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Properties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[AccommodationType] [int] NOT NULL,
	[AccommodationStandard] [int] NOT NULL,
	[DisplayPrice] [decimal](18, 2) NOT NULL,
	[NoOfRooms] [int] NOT NULL,
	[Squarefeet] [decimal](18, 2) NULL,
	[ActiveFrom] [datetime] NULL,
	[ActiveTo] [datetime] NULL,
	[IsPromotion] [bit] NULL,
	[PromotionDescription] [nvarchar](max) NULL,
	[PromotionAmount] [decimal](18, 2) NULL,
	[PromotionType] [int] NULL,
	[ShowOnSliderBanner] [bit] NULL,
	[ClientId] [int] NULL,
	[Discount] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Country] [int] NULL,
	[MainCity] [int] NULL,
	[MainCityName] [nvarchar](50) NULL,
	[Adderss] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Street] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[LandLinePrimary] [nvarchar](100) NULL,
	[MobilePrimary] [nvarchar](100) NULL,
	[LandLineSecondary] [nvarchar](50) NULL,
	[MobileSecondary] [nvarchar](50) NULL,
	[ContactPerson1] [nvarchar](100) NULL,
	[ImageName] [nvarchar](100) NULL,
	[MealImage] [nvarchar](100) NULL,
	[ContactPerson2] [nvarchar](100) NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
	[RouteTo] [nvarchar](500) NULL,
	[MainTown] [nvarchar](100) NULL,
	[DistanceFromMainTown] [decimal](18, 0) NULL,
	[SearchKeys] [varchar](max) NULL,
	[Features] [nvarchar](250) NULL,
	[Interests] [nvarchar](250) NULL,
	[CompanyId] [int] NULL,
	[OwnerDesignation] [nvarchar](100) NULL,
	[AboutOwner] [nvarchar](250) NULL,
	[Location] [nvarchar](250) NULL,
	[Email] [nvarchar](50) NULL,
	[Website] [nvarchar](100) NULL,
	[VideoUrl] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsPosted] [bit] NOT NULL,
	[PoliceReport] [nvarchar](100) NULL,
	[GSReport] [nvarchar](100) NULL,
	[RoomRate] [decimal](18, 2) NULL,
	[RoomRateForChild] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Property] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PropertyFeatures]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyFeatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[FeatureId] [int] NOT NULL,
 CONSTRAINT [PK_PropertyFeatures_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PropertyImages]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PropertyImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[ImageDescription] [varchar](100) NOT NULL,
	[ImagePath] [varchar](200) NULL,
	[DefaultImage] [bit] NULL,
 CONSTRAINT [PK_PropertyImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PurposeOfVisitings]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurposeOfVisitings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PurposeOfVisit] [nvarchar](50) NULL,
 CONSTRAINT [PK_PurposeOfVisiting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Recommendations]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recommendations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Profession] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PhotoUrl] [nvarchar](100) NULL,
	[Comments] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Recommendations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Regions]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Regions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomFeatures]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomFeatures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[FeatureId] [int] NOT NULL,
 CONSTRAINT [PK_RoomFeatures_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomImages]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoomImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[ImageDescription] [varchar](100) NOT NULL,
	[ImagePath] [varchar](200) NULL,
	[DefaultImage] [bit] NULL,
 CONSTRAINT [PK_RoomImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Occupancy] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DisplayPrice] [decimal](18, 2) NOT NULL,
	[Squarefeet] [decimal](18, 2) NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[VideoUrl] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RoundTrips]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RoundTrips](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[IsPromotion] [bit] NULL,
	[PromotionDescription] [nvarchar](max) NULL,
	[PromotionAmount] [decimal](18, 2) NULL,
	[PromotionType] [int] NULL,
	[Discount] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[CountryId] [int] NULL,
	[TranslatorId] [int] NULL,
	[NumOfDays] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[IsApproved] [bit] NULL,
	[RateForAdult] [decimal](18, 2) NOT NULL,
	[RateForChildren] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_RoundTrip] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Taxes]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Taxes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[IsIncluded] [bit] NOT NULL,
 CONSTRAINT [PK_Tax] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Titles]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Titles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Titles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Translators]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translators](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PropertyId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[Language] [nvarchar](50) NOT NULL,
	[Landline] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Translators] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transports]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Rate] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Transports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TravelBies]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelBies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_TravelBy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripDayActivities]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripDayActivities](
	[TripDayId] [int] NOT NULL,
	[ActivityId] [int] NOT NULL,
 CONSTRAINT [PK_TripDayActivity] PRIMARY KEY CLUSTERED 
(
	[TripDayId] ASC,
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripDays]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoundTripId] [int] NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[TranslatorId] [int] NOT NULL,
	[Description] [nvarchar](300) NOT NULL,
	[TravelTime] [decimal](18, 4) NOT NULL,
	[RateForAdult] [decimal](18, 2) NOT NULL,
	[RateForChildren] [decimal](18, 2) NOT NULL,
	[StartingPlaceId] [int] NULL,
	[EndPlaceId] [int] NULL,
 CONSTRAINT [PK_TripDay] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TripDayWises]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TripDayWises](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](250) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[AccommodationType] [int] NOT NULL,
	[AccommodationStandard] [int] NOT NULL,
	[DisplayPrice] [decimal](18, 2) NOT NULL,
	[NoOfRooms] [int] NOT NULL,
	[Squarefeet] [decimal](18, 2) NULL,
	[ActiveFrom] [datetime] NULL,
	[ActiveTo] [datetime] NULL,
	[IsPromotion] [bit] NULL,
	[PromotionDescription] [nvarchar](max) NULL,
	[PromotionAmount] [decimal](18, 2) NULL,
	[PromotionType] [int] NULL,
	[ShowOnSliderBanner] [bit] NULL,
	[ClientId] [int] NULL,
	[Discount] [decimal](18, 2) NULL,
	[Tax] [decimal](18, 2) NULL,
	[Country] [int] NULL,
	[MainCity] [int] NULL,
	[MainCityName] [nvarchar](50) NULL,
	[Adderss] [nvarchar](100) NULL,
	[City] [nvarchar](100) NULL,
	[Street] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[LandLinePrimary] [nvarchar](100) NULL,
	[MobilePrimary] [nvarchar](100) NULL,
	[LandLineSecondary] [nvarchar](50) NULL,
	[MobileSecondary] [nvarchar](50) NULL,
	[ContactPerson1] [nvarchar](100) NULL,
	[ImageName] [nvarchar](100) NULL,
	[MealImage] [nvarchar](100) NULL,
	[ContactPerson2] [nvarchar](100) NULL,
	[Latitude] [decimal](18, 10) NULL,
	[Longitude] [decimal](18, 10) NULL,
	[RouteTo] [nvarchar](500) NULL,
	[MainTown] [nvarchar](100) NULL,
	[DistanceFromMainTown] [decimal](18, 0) NULL,
	[SearchKeys] [varchar](max) NULL,
	[Features] [nvarchar](250) NULL,
	[Interests] [nvarchar](250) NULL,
	[CompanyId] [int] NULL,
	[OwnerDesignation] [nvarchar](100) NULL,
	[AboutOwner] [nvarchar](250) NULL,
	[Location] [nvarchar](250) NULL,
	[Email] [nvarchar](50) NULL,
	[Website] [nvarchar](100) NULL,
	[VideoUrl] [nvarchar](100) NULL,
	[IsActive] [bit] NULL,
	[IsApproved] [bit] NOT NULL,
	[IsPosted] [bit] NOT NULL,
	[RoundTripId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserLogs]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogs](
	[LoggedId] [uniqueidentifier] NOT NULL,
	[UserId] [int] NULL,
	[LoggedDate] [datetime] NULL,
	[LogOff] [datetime] NULL,
 CONSTRAINT [PK_UserLogs] PRIMARY KEY CLUSTERED 
(
	[LoggedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMenuPermission]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenuPermission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[MenuId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsViewed] [bit] NOT NULL,
	[IsSave] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsUpdate] [bit] NOT NULL,
 CONSTRAINT [PK_UserMenuPermission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](250) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[IsEmailActivated] [bit] NOT NULL,
	[Active] [bit] NOT NULL,
	[Created] [datetime] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersCompanies]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersCompanies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersInRoles]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_UsersInRoles_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VisitorReviews]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorReviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NOT NULL,
	[PropertyId] [int] NOT NULL,
	[Comments] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_ReviewComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Visitors]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitors](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [int] NULL,
	[FirstName] [nvarchar](250) NULL,
	[LastName] [nvarchar](250) NULL,
	[Gender] [int] NULL,
	[Email] [nvarchar](250) NULL,
	[Address] [nvarchar](250) NULL,
	[Street] [nvarchar](250) NULL,
	[City] [nvarchar](250) NULL,
	[Country] [int] NULL,
	[Zip] [nvarchar](50) NULL,
	[Phone] [nvarchar](250) NULL,
	[Mobile] [nvarchar](250) NULL,
	[Fax] [nvarchar](250) NULL,
	[Remarks] [nvarchar](400) NULL,
	[Active] [bit] NULL,
	[Created] [datetime] NULL,
	[Modified] [datetime] NULL,
	[DateOfBirth] [datetime] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YoutubeUrls]    Script Date: 8/1/2014 10:20:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YoutubeUrls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](100) NOT NULL,
	[Url] [nvarchar](100) NULL,
 CONSTRAINT [PK_YoutubeUrls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AccommodationStandards] ON 

INSERT [dbo].[AccommodationStandards] ([Id], [Name], [IsActive], [DisplayOrder]) VALUES (1, N'Basic', 1, 1)
INSERT [dbo].[AccommodationStandards] ([Id], [Name], [IsActive], [DisplayOrder]) VALUES (2, N'Standard', 1, 3)
INSERT [dbo].[AccommodationStandards] ([Id], [Name], [IsActive], [DisplayOrder]) VALUES (3, N'Superiour', 1, 5)
SET IDENTITY_INSERT [dbo].[AccommodationStandards] OFF
SET IDENTITY_INSERT [dbo].[AccommodationTypes] ON 

INSERT [dbo].[AccommodationTypes] ([Id], [Name], [IsActive], [DisplayOrder]) VALUES (1, N'House', 1, 5)
INSERT [dbo].[AccommodationTypes] ([Id], [Name], [IsActive], [DisplayOrder]) VALUES (2, N'Apartment', 1, 1)
INSERT [dbo].[AccommodationTypes] ([Id], [Name], [IsActive], [DisplayOrder]) VALUES (3, N'Villa', 1, 2)
SET IDENTITY_INSERT [dbo].[AccommodationTypes] OFF
SET IDENTITY_INSERT [dbo].[Activities] ON 

INSERT [dbo].[Activities] ([Id], [Name], [Description], [PropertyId], [Rate], [ChildRate]) VALUES (1, N'Daily Familiarization Trek', N'Every day, in the morning at 10.30 and evening at 4.30 a 45 minute soft trek is organized for the guest to discover the estate and to interact with the estate staff whilst performing their assigned duties.', 30, CAST(5.00 AS Decimal(18, 2)), CAST(2.00 AS Decimal(18, 2)))
INSERT [dbo].[Activities] ([Id], [Name], [Description], [PropertyId], [Rate], [ChildRate]) VALUES (2, N'Coconut Fiber Factory', N'	A visit to a coconut fiber extraction unit is very interesting and discussion with the staff of the many products manufactured from coir will be an enjoyable and educative experience.', 30, CAST(2.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Activities] OFF
SET IDENTITY_INSERT [dbo].[ActivityConductors] ON 

INSERT [dbo].[ActivityConductors] ([Id], [FirstName], [LastName], [PhoneNo_LandLine], [PhoneNo_Mobile], [FaxNo], [Email], [Photo]) VALUES (3, N'eerrte', N'ertert', N'3453', N'3453', N'53453', N'sdf@gadem.com', N'3545')
SET IDENTITY_INSERT [dbo].[ActivityConductors] OFF
SET IDENTITY_INSERT [dbo].[BannerImages] ON 

INSERT [dbo].[BannerImages] ([Id], [ImageName], [ImageDescription], [PlaceName], [Location], [Distance], [Lat], [Lon], [PlaceUrl], [DisplayOrder]) VALUES (4, N'nature1.jpg', N'This is in Hatton', N'Nature Water fall', N'Hatton ,Srilanka', NULL, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, 1)
INSERT [dbo].[BannerImages] ([Id], [ImageName], [ImageDescription], [PlaceName], [Location], [Distance], [Lat], [Lon], [PlaceUrl], [DisplayOrder]) VALUES (5, N'demo_image_03.jpg', N'3 adults can use', N'Master Bed room', N'3 adults can use', NULL, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, 2)
INSERT [dbo].[BannerImages] ([Id], [ImageName], [ImageDescription], [PlaceName], [Location], [Distance], [Lat], [Lon], [PlaceUrl], [DisplayOrder]) VALUES (6, N'demo_image_01.jpg', N'Delicious  Food', N'Dining table', N'Delicious  Food', NULL, CAST(0 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), NULL, 3)
SET IDENTITY_INSERT [dbo].[BannerImages] OFF
SET IDENTITY_INSERT [dbo].[BedRooms] ON 

INSERT [dbo].[BedRooms] ([Id], [RoomId], [BedId], [Rate]) VALUES (1, 1, 2, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BedRooms] ([Id], [RoomId], [BedId], [Rate]) VALUES (2, 1, 1, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[BedRooms] ([Id], [RoomId], [BedId], [Rate]) VALUES (3, 5, 1, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BedRooms] OFF
SET IDENTITY_INSERT [dbo].[Beds] ON 

INSERT [dbo].[Beds] ([Id], [BedName], [Rate], [Occupancy], [ChildOccupancy]) VALUES (1, N'queen size', CAST(220.00 AS Decimal(18, 2)), 2, 3)
INSERT [dbo].[Beds] ([Id], [BedName], [Rate], [Occupancy], [ChildOccupancy]) VALUES (2, N'Double sharing', CAST(200.00 AS Decimal(18, 2)), 2, 3)
INSERT [dbo].[Beds] ([Id], [BedName], [Rate], [Occupancy], [ChildOccupancy]) VALUES (3, N'Single', CAST(150.00 AS Decimal(18, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[Beds] OFF
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([Id], [PropertyId], [CustomerId], [VisitorId], [DateFrom], [DateTo], [Amount], [PaidAmount], [Discount], [Tax], [BookingHtlmString], [Invoice_Id]) VALUES (1, 3, 1, 36, CAST(0x0000A31700000000 AS DateTime), CAST(0x0000A31500000000 AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 1)
INSERT [dbo].[Bookings] ([Id], [PropertyId], [CustomerId], [VisitorId], [DateFrom], [DateTo], [Amount], [PaidAmount], [Discount], [Tax], [BookingHtlmString], [Invoice_Id]) VALUES (2, 3, 1, 39, CAST(0x0000A31800000000 AS DateTime), CAST(0x0000A31600000000 AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 3)
INSERT [dbo].[Bookings] ([Id], [PropertyId], [CustomerId], [VisitorId], [DateFrom], [DateTo], [Amount], [PaidAmount], [Discount], [Tax], [BookingHtlmString], [Invoice_Id]) VALUES (3, 3, 1, 39, CAST(0x0000A31900000000 AS DateTime), CAST(0x0000A31700000000 AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 4)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([ClientId], [Title], [FirstName], [LastName], [Gender], [Email], [Address], [Street], [City], [Country], [Zip], [Phone], [Mobile], [Fax], [Remarks], [Active], [Created], [Modified], [DateOfBirth], [DateOfJoin], [UserId], [Discount]) VALUES (5, NULL, N'nava', N'seelan', NULL, N'navaseelan@ezeroonetech.com', N'as', N'asdsa', N'asds', 210, NULL, N'21421414124', N'2132131233', NULL, NULL, NULL, NULL, NULL, NULL, NULL, 36, CAST(5.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Clients] OFF
SET IDENTITY_INSERT [dbo].[CompanyProfiles] ON 

INSERT [dbo].[CompanyProfiles] ([Id], [Name], [Email], [Web], [Address], [Street], [City], [Country], [Zip], [Phone], [Fax], [Remarks], [VATRegNo], [Active], [Created], [Modified], [CreatedBy]) VALUES (1, N'GlobalSpices', N'navaseelan4u@gmail.com', N'http://globalspices.com.au/', N'a', N'a', N'a', 13, N'1313', N'90304024020', N'21421', N'test.................', N'erg234', 1, CAST(0x0000A1DB00000000 AS DateTime), CAST(0x0000A1E600C68D3A AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CompanyProfiles] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([Id], [Name], [Article], [Region_Id]) VALUES (8, N'Afghanistan', NULL, NULL)
INSERT [dbo].[Countries] ([Id], [Name], [Article], [Region_Id]) VALUES (9, N'Albania', NULL, NULL)
INSERT [dbo].[Countries] ([Id], [Name], [Article], [Region_Id]) VALUES (10, N'Algeria', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Cuisines] ON 

INSERT [dbo].[Cuisines] ([Id], [FoodType], [Foods], [DisplayOrder], [ImageName]) VALUES (1, N'Vegetarian', N'Vege Fried Rice, Vege Chopsy', 2, NULL)
INSERT [dbo].[Cuisines] ([Id], [FoodType], [Foods], [DisplayOrder], [ImageName]) VALUES (2, N'Non-Vege', N'Chicken Fried Rice, Buriyani, Chopsy', 1, N'IMG_3777.JPG')
INSERT [dbo].[Cuisines] ([Id], [FoodType], [Foods], [DisplayOrder], [ImageName]) VALUES (3, N'Thai food', N'Thai food', 3, NULL)
SET IDENTITY_INSERT [dbo].[Cuisines] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Title], [FirstName], [LastName], [Gender], [Email], [Address], [Street], [City], [Country], [Zip], [Phone], [Mobile], [Fax], [Remarks], [Active], [Created], [Modified], [DateOfBirth], [DateOfJoin], [UserId]) VALUES (2, 39, N'Navaseelan', N'N', NULL, N'navaseelan4u@gmail.com', N'72/E', N'Peter', N'Ragama', 210, N'11011', N'0112 9868989', N'+94774475196', NULL, NULL, 1, CAST(0x0000A1CA00DE1BE8 AS DateTime), NULL, CAST(0x0000720B00000000 AS DateTime), NULL, 27)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([Id], [Name], [DisplayOrder]) VALUES (255, N'Farmer', 2)
INSERT [dbo].[Designations] ([Id], [Name], [DisplayOrder]) VALUES (256, N'Fisher man', 1)
INSERT [dbo].[Designations] ([Id], [Name], [DisplayOrder]) VALUES (258, N'test erer', 1)
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[DiningRates] ON 

INSERT [dbo].[DiningRates] ([Id], [Name], [Rate], [ChildRate]) VALUES (1, N'Full Board', CAST(22.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)))
INSERT [dbo].[DiningRates] ([Id], [Name], [Rate], [ChildRate]) VALUES (2, N'Half Board', CAST(15.00 AS Decimal(18, 2)), CAST(5.00 AS Decimal(18, 2)))
INSERT [dbo].[DiningRates] ([Id], [Name], [Rate], [ChildRate]) VALUES (3, N'Break Fast', CAST(2.00 AS Decimal(18, 2)), CAST(0.50 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DiningRates] OFF
SET IDENTITY_INSERT [dbo].[Dinings] ON 

INSERT [dbo].[Dinings] ([Id], [FoodId], [PropertyId], [Price], [MealType]) VALUES (1, 1, 1, CAST(20.00 AS Decimal(18, 2)), N'Lunch. BF')
INSERT [dbo].[Dinings] ([Id], [FoodId], [PropertyId], [Price], [MealType]) VALUES (2, 2, 1, CAST(50.00 AS Decimal(18, 2)), N'Lunch. BF & dinner')
INSERT [dbo].[Dinings] ([Id], [FoodId], [PropertyId], [Price], [MealType]) VALUES (3, 4, 0, CAST(245.00 AS Decimal(18, 2)), N'Lunch, Break fast')
SET IDENTITY_INSERT [dbo].[Dinings] OFF
SET IDENTITY_INSERT [dbo].[DistrictImages] ON 

INSERT [dbo].[DistrictImages] ([Id], [DistrictId], [ImageName], [Description]) VALUES (1, 1, N'nature1.jpg', N'Lake')
SET IDENTITY_INSERT [dbo].[DistrictImages] OFF
SET IDENTITY_INSERT [dbo].[EmailNotifications] ON 

INSERT [dbo].[EmailNotifications] ([Id], [UniqueId], [EmployeeId], [ToAddress], [FromAddress], [FromUserName], [FromPassword], [MailPort], [Subject], [Message], [IsSend], [GroupId], [CompanyId], [DivisionId], [DepartmentId], [SectionId], [SentDate], [CreatedDate], [UserId]) VALUES (5431, N'a9969914-f8f0-43ef-93e7-af07dfbf6d75', 6827, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 12, 36, 0, 0, 0, NULL, CAST(0x0000A15B006CA99A AS DateTime), 12)
INSERT [dbo].[EmailNotifications] ([Id], [UniqueId], [EmployeeId], [ToAddress], [FromAddress], [FromUserName], [FromPassword], [MailPort], [Subject], [Message], [IsSend], [GroupId], [CompanyId], [DivisionId], [DepartmentId], [SectionId], [SentDate], [CreatedDate], [UserId]) VALUES (5432, N'a9969914-f8f0-43ef-93e7-af07dfbf6d75', 6831, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 12, 36, 0, 0, 0, NULL, CAST(0x0000A15B006CA9A0 AS DateTime), 12)
INSERT [dbo].[EmailNotifications] ([Id], [UniqueId], [EmployeeId], [ToAddress], [FromAddress], [FromUserName], [FromPassword], [MailPort], [Subject], [Message], [IsSend], [GroupId], [CompanyId], [DivisionId], [DepartmentId], [SectionId], [SentDate], [CreatedDate], [UserId]) VALUES (5433, N'a9969914-f8f0-43ef-93e7-af07dfbf6d75', 6875, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 12, 36, 0, 0, 0, NULL, CAST(0x0000A15B006CA9A6 AS DateTime), 12)
GO
SET IDENTITY_INSERT [dbo].[EmailNotifications] OFF
SET IDENTITY_INSERT [dbo].[FeatureCategories] ON 

INSERT [dbo].[FeatureCategories] ([Id], [Name], [DisplayOrder]) VALUES (1, N'Design', 1)
INSERT [dbo].[FeatureCategories] ([Id], [Name], [DisplayOrder]) VALUES (3, N'Tester', 1)
INSERT [dbo].[FeatureCategories] ([Id], [Name], [DisplayOrder]) VALUES (4, N'My group', 2)
SET IDENTITY_INSERT [dbo].[FeatureCategories] OFF
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([Id], [Name], [IsActive], [DisplayOrder], [GroupId]) VALUES (1, N'WIFI', 1, 3, 1)
INSERT [dbo].[Features] ([Id], [Name], [IsActive], [DisplayOrder], [GroupId]) VALUES (2, N'Spa', 1, 1, 1)
INSERT [dbo].[Features] ([Id], [Name], [IsActive], [DisplayOrder], [GroupId]) VALUES (3, N'Play Ground', 1, 4, 1)
SET IDENTITY_INSERT [dbo].[Features] OFF
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([Id], [Name], [Website], [Created]) VALUES (12, N'Hospitality', NULL, CAST(0x0000A15A00F4BF3F AS DateTime))
SET IDENTITY_INSERT [dbo].[Groups] OFF
INSERT [dbo].[InvoiceNumbers] ([Id], [InvoicePrefix], [InvoiceNo]) VALUES (1, N'Inv       ', 7)
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [InvoiceNo], [CompanyId], [BookedBy], [TotalAmount], [Discount], [Tax], [BillAmount], [BookedDateFrom], [BookedDateTo], [PaidBy], [PaymentMade], [Commision], [BookingHtlmString], [Adult], [Children], [ChildBelow6]) VALUES (1, N'Inv-001', 1, 36, CAST(512.00 AS Decimal(18, 2)), CAST(486.40 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(25.60 AS Decimal(18, 2)), CAST(0x0000A31500000000 AS DateTime), CAST(0x0000A31700000000 AS DateTime), 2, 0, CAST(1.00 AS Decimal(18, 2)), N'', 2, 1, 0)
INSERT [dbo].[Invoices] ([Id], [InvoiceNo], [CompanyId], [BookedBy], [TotalAmount], [Discount], [Tax], [BillAmount], [BookedDateFrom], [BookedDateTo], [PaidBy], [PaymentMade], [Commision], [BookingHtlmString], [Adult], [Children], [ChildBelow6]) VALUES (2, N'Inv-002', 1, 39, CAST(512.00 AS Decimal(18, 2)), CAST(512.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A31500000000 AS DateTime), CAST(0x0000A31700000000 AS DateTime), 2, 0, CAST(1.00 AS Decimal(18, 2)), N'', 2, 1, 0)
INSERT [dbo].[Invoices] ([Id], [InvoiceNo], [CompanyId], [BookedBy], [TotalAmount], [Discount], [Tax], [BillAmount], [BookedDateFrom], [BookedDateTo], [PaidBy], [PaymentMade], [Commision], [BookingHtlmString], [Adult], [Children], [ChildBelow6]) VALUES (3, N'Inv-003', 1, 39, CAST(512.00 AS Decimal(18, 2)), CAST(512.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0x0000A31600000000 AS DateTime), CAST(0x0000A31800000000 AS DateTime), 2, 0, CAST(1.00 AS Decimal(18, 2)), N'', 2, 1, 0)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[MainCities] ON 

INSERT [dbo].[MainCities] ([Id], [City], [IsActive], [Latitude], [Longitude], [Description]) VALUES (2, N'Anuradhapura', 1, CAST(8.3138540000 AS Decimal(18, 10)), CAST(80.4164030000 AS Decimal(18, 10)), NULL)
INSERT [dbo].[MainCities] ([Id], [City], [IsActive], [Latitude], [Longitude], [Description]) VALUES (3, N'Badulla', 1, CAST(6.9838740000 AS Decimal(18, 10)), CAST(81.0569570000 AS Decimal(18, 10)), N'nf utiutituij')
SET IDENTITY_INSERT [dbo].[MainCities] OFF
SET IDENTITY_INSERT [dbo].[Menus] ON 

INSERT [dbo].[Menus] ([Id], [MenuName], [Url], [IsActive], [IsParent]) VALUES (2, N'Add Category', N'url', 1, 0)
INSERT [dbo].[Menus] ([Id], [MenuName], [Url], [IsActive], [IsParent]) VALUES (3, N'Add Items', N'url', 1, 0)
INSERT [dbo].[Menus] ([Id], [MenuName], [Url], [IsActive], [IsParent]) VALUES (4, N'Create Users', N'url', 1, 0)
SET IDENTITY_INSERT [dbo].[Menus] OFF
INSERT [dbo].[PaymentTypes] ([Id], [PayBy]) VALUES (1, N'Cash')
INSERT [dbo].[PaymentTypes] ([Id], [PayBy]) VALUES (2, N'Paypal')
INSERT [dbo].[PaymentTypes] ([Id], [PayBy]) VALUES (3, N'Credit Card')
SET IDENTITY_INSERT [dbo].[Places] ON 

INSERT [dbo].[Places] ([Id], [PropertyId], [PlaceName], [Description], [Distance], [Lat], [Long], [TimeTake], [TravelBy], [PoiId]) VALUES (1, 1, N'Viharamaha devi park', NULL, CAST(5.00 AS Decimal(18, 2)), CAST(6.9137482808 AS Decimal(18, 10)), CAST(79.8561859131 AS Decimal(18, 10)), N'20Min     ', 3, 1)
INSERT [dbo].[Places] ([Id], [PropertyId], [PlaceName], [Description], [Distance], [Lat], [Long], [TimeTake], [TravelBy], [PoiId]) VALUES (2, 1, N'Galle face', NULL, CAST(7.00 AS Decimal(18, 2)), CAST(6.9314922144 AS Decimal(18, 10)), CAST(79.8422169685 AS Decimal(18, 10)), N'45Min     ', 5, 1)
INSERT [dbo].[Places] ([Id], [PropertyId], [PlaceName], [Description], [Distance], [Lat], [Long], [TimeTake], [TravelBy], [PoiId]) VALUES (5, 12, N'Siva Temple', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(7.4300000000 AS Decimal(18, 10)), CAST(81.5100000000 AS Decimal(18, 10)), N'1 hr      ', 1, 1)
SET IDENTITY_INSERT [dbo].[Places] OFF
SET IDENTITY_INSERT [dbo].[PointOfInterests] ON 

INSERT [dbo].[PointOfInterests] ([Id], [Name], [IsActive]) VALUES (1, N'Cultural', 1)
INSERT [dbo].[PointOfInterests] ([Id], [Name], [IsActive]) VALUES (2, N'Nature', 1)
INSERT [dbo].[PointOfInterests] ([Id], [Name], [IsActive]) VALUES (3, N'Time & People', 1)
SET IDENTITY_INSERT [dbo].[PointOfInterests] OFF
SET IDENTITY_INSERT [dbo].[Properties] ON 

SET IDENTITY_INSERT [dbo].[Properties] OFF
SET IDENTITY_INSERT [dbo].[PropertyImages] ON 

INSERT [dbo].[PropertyImages] ([Id], [PropertyId], [ImageDescription], [ImagePath], [DefaultImage]) VALUES (2, 1, N'Hall', N'room_0.jpg', 1)
INSERT [dbo].[PropertyImages] ([Id], [PropertyId], [ImageDescription], [ImagePath], [DefaultImage]) VALUES (3, 1, N'Bath room', N'room_1.jpg', 0)
INSERT [dbo].[PropertyImages] ([Id], [PropertyId], [ImageDescription], [ImagePath], [DefaultImage]) VALUES (4, 1, N'Bed Room', N'room_2.jpg', 0)
SET IDENTITY_INSERT [dbo].[PropertyImages] OFF
SET IDENTITY_INSERT [dbo].[PurposeOfVisitings] ON 

INSERT [dbo].[PurposeOfVisitings] ([Id], [PurposeOfVisit]) VALUES (1, N'Vacation')
INSERT [dbo].[PurposeOfVisitings] ([Id], [PurposeOfVisit]) VALUES (2, N'Business')
SET IDENTITY_INSERT [dbo].[PurposeOfVisitings] OFF
SET IDENTITY_INSERT [dbo].[Recommendations] ON 

INSERT [dbo].[Recommendations] ([Id], [Name], [Profession], [Email], [PhotoUrl], [Comments]) VALUES (1, N'Navaseelan', N'Professor', N'navaseelan4u@gmail.com', N'nava.jpg', N' this is good booking site')
SET IDENTITY_INSERT [dbo].[Recommendations] OFF
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([Id], [Name]) VALUES (1, N'Africa')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (2, N'Asia')
INSERT [dbo].[Regions] ([Id], [Name]) VALUES (3, N'Australia & the Pacific')
SET IDENTITY_INSERT [dbo].[Regions] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (2, N'Client')
INSERT [dbo].[Roles] ([RoleId], [Name]) VALUES (3, N'Visitor')
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[RoomImages] ON 

INSERT [dbo].[RoomImages] ([Id], [RoomId], [ImageDescription], [ImagePath], [DefaultImage]) VALUES (1, 1, N'room1', N'nava.jpg', 0)
INSERT [dbo].[RoomImages] ([Id], [RoomId], [ImageDescription], [ImagePath], [DefaultImage]) VALUES (2, 1, N'room3', N'1549407_459350420833021_532166752_n.jpg', 0)
INSERT [dbo].[RoomImages] ([Id], [RoomId], [ImageDescription], [ImagePath], [DefaultImage]) VALUES (3, 5, N'room 2', N'house2.jpg', 0)
SET IDENTITY_INSERT [dbo].[RoomImages] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [PropertyId], [Name], [Occupancy], [Description], [DisplayPrice], [Squarefeet], [Discount], [Tax], [VideoUrl], [IsActive]) VALUES (1, 30, N'Luxury Room', 1, N'test', CAST(200.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Rooms] ([Id], [PropertyId], [Name], [Occupancy], [Description], [DisplayPrice], [Squarefeet], [Discount], [Tax], [VideoUrl], [IsActive]) VALUES (2, 30, N'Room1', 0, N'room', CAST(0.00 AS Decimal(18, 2)), CAST(1200.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 1)
INSERT [dbo].[Rooms] ([Id], [PropertyId], [Name], [Occupancy], [Description], [DisplayPrice], [Squarefeet], [Discount], [Tax], [VideoUrl], [IsActive]) VALUES (3, 30, N'Room2', 0, N'room2', CAST(0.00 AS Decimal(18, 2)), CAST(1500.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, 1)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[RoundTrips] ON 

SET IDENTITY_INSERT [dbo].[RoundTrips] OFF
SET IDENTITY_INSERT [dbo].[Taxes] ON 

INSERT [dbo].[Taxes] ([Id], [Name], [Value], [IsIncluded]) VALUES (1, N'GST', CAST(10.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Taxes] ([Id], [Name], [Value], [IsIncluded]) VALUES (2, N'Tax2', CAST(2.50 AS Decimal(18, 2)), 0)
INSERT [dbo].[Taxes] ([Id], [Name], [Value], [IsIncluded]) VALUES (3, N'Tax3', CAST(1.80 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[Taxes] OFF
SET IDENTITY_INSERT [dbo].[Titles] ON 

INSERT [dbo].[Titles] ([Id], [Name]) VALUES (39, N'Mr.')
INSERT [dbo].[Titles] ([Id], [Name]) VALUES (42, N'Ms.')
INSERT [dbo].[Titles] ([Id], [Name]) VALUES (43, N'Mrs.')
SET IDENTITY_INSERT [dbo].[Titles] OFF
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [InvoiceId], [ItemId], [Quantity], [Discount], [Tax], [Total]) VALUES (1, 2, 9, 2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(390.00 AS Decimal(18, 2)))
INSERT [dbo].[Transactions] ([Id], [InvoiceId], [ItemId], [Quantity], [Discount], [Tax], [Total]) VALUES (2, 3, 17, 10, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(2860.00 AS Decimal(18, 2)))
INSERT [dbo].[Transactions] ([Id], [InvoiceId], [ItemId], [Quantity], [Discount], [Tax], [Total]) VALUES (3, 4, 13, 2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(572.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Transactions] OFF
SET IDENTITY_INSERT [dbo].[Translators] ON 

INSERT [dbo].[Translators] ([Id], [PropertyId], [Name], [ImageName], [Language], [Landline], [Mobile], [IsActive]) VALUES (1, 4, N'nava', NULL, N'Tamil', N'12412214', N'etewrere', 1)
INSERT [dbo].[Translators] ([Id], [PropertyId], [Name], [ImageName], [Language], [Landline], [Mobile], [IsActive]) VALUES (2, 4, N'seelan', NULL, N'english', N'1234567', N'12345678', 1)
INSERT [dbo].[Translators] ([Id], [PropertyId], [Name], [ImageName], [Language], [Landline], [Mobile], [IsActive]) VALUES (3, 14, N'Gampha resort', NULL, N'Tamil', N'12412214', N'12345678', 1)
SET IDENTITY_INSERT [dbo].[Translators] OFF
SET IDENTITY_INSERT [dbo].[Transports] ON 

INSERT [dbo].[Transports] ([Id], [Name], [Rate]) VALUES (1, N'Airport pick & drop off by Van', CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Transports] OFF
SET IDENTITY_INSERT [dbo].[TravelBies] ON 

INSERT [dbo].[TravelBies] ([Id], [Name], [DisplayOrder]) VALUES (1, N'By Cycle', 1)
INSERT [dbo].[TravelBies] ([Id], [Name], [DisplayOrder]) VALUES (2, N'By Motor Bike', 2)
INSERT [dbo].[TravelBies] ([Id], [Name], [DisplayOrder]) VALUES (3, N'By Car', 1)
SET IDENTITY_INSERT [dbo].[TravelBies] OFF
INSERT [dbo].[TripDayActivities] ([TripDayId], [ActivityId]) VALUES (1, 3)
INSERT [dbo].[TripDayActivities] ([TripDayId], [ActivityId]) VALUES (1, 4)
INSERT [dbo].[TripDayActivities] ([TripDayId], [ActivityId]) VALUES (2, 2)
SET IDENTITY_INSERT [dbo].[TripDays] ON 

INSERT [dbo].[TripDays] ([Id], [RoundTripId], [Name], [TranslatorId], [Description], [TravelTime], [RateForAdult], [RateForChildren], [StartingPlaceId], [EndPlaceId]) VALUES (1, 14, N'Day 1                                                                                               ', 1, N'ffff', CAST(5.0000 AS Decimal(18, 4)), CAST(70.00 AS Decimal(18, 2)), CAST(35.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TripDays] ([Id], [RoundTripId], [Name], [TranslatorId], [Description], [TravelTime], [RateForAdult], [RateForChildren], [StartingPlaceId], [EndPlaceId]) VALUES (2, 14, N'Day 3                                                                                               ', 1, N'.......', CAST(12.0000 AS Decimal(18, 4)), CAST(85.00 AS Decimal(18, 2)), CAST(11.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TripDays] ([Id], [RoundTripId], [Name], [TranslatorId], [Description], [TravelTime], [RateForAdult], [RateForChildren], [StartingPlaceId], [EndPlaceId]) VALUES (4, 14, N'Day 2                                                                                               ', 1, N'ffff', CAST(1.0000 AS Decimal(18, 4)), CAST(60.00 AS Decimal(18, 2)), CAST(22.00 AS Decimal(18, 2)), 2, 1)
SET IDENTITY_INSERT [dbo].[TripDays] OFF
SET IDENTITY_INSERT [dbo].[UserMenuPermission] ON 

INSERT [dbo].[UserMenuPermission] ([Id], [UserId], [MenuId], [RoleId], [IsViewed], [IsSave], [IsDelete], [IsUpdate]) VALUES (0, 0, 2, 1, 0, 1, 0, 0)
INSERT [dbo].[UserMenuPermission] ([Id], [UserId], [MenuId], [RoleId], [IsViewed], [IsSave], [IsDelete], [IsUpdate]) VALUES (2, 0, 5, 1, 0, 1, 0, 0)
INSERT [dbo].[UserMenuPermission] ([Id], [UserId], [MenuId], [RoleId], [IsViewed], [IsSave], [IsDelete], [IsUpdate]) VALUES (3, 0, 7, 1, 0, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[UserMenuPermission] OFF
SET IDENTITY_INSERT [dbo].[UserRoles] ON 

INSERT [dbo].[UserRoles] ([Id], [RoleName], [IsActive]) VALUES (1, N'Administrator', 1)
INSERT [dbo].[UserRoles] ([Id], [RoleName], [IsActive]) VALUES (2, N'Power Users', 1)
INSERT [dbo].[UserRoles] ([Id], [RoleName], [IsActive]) VALUES (3, N'Basic Users', 1)
SET IDENTITY_INSERT [dbo].[UserRoles] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [FirstName], [LastName], [IsEmailActivated], [Active], [Created], [CompanyId], [RoleId]) VALUES (27, N'navaseelan4u@gmail.com', N'f5d1278e8109edd94e1e4197e04873b9', N'Navaseelan', N'N', 1, 1, CAST(0x0000A1CA00DAF216 AS DateTime), 1, 1)
INSERT [dbo].[Users] ([UserId], [Email], [Password], [FirstName], [LastName], [IsEmailActivated], [Active], [Created], [CompanyId], [RoleId]) VALUES (36, N'navaseelan@ezeroonetech.com', N'5f4dcc3b5aa765d61d8327deb882cf99', N'nava', N'seelan', 0, 0, CAST(0x0000A2F300ABB84C AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UsersCompanies] ON 

INSERT [dbo].[UsersCompanies] ([Id], [Company], [IsActive]) VALUES (1, N'LECS', 1)
INSERT [dbo].[UsersCompanies] ([Id], [Company], [IsActive]) VALUES (1, N'LECS', 1)
INSERT [dbo].[UsersCompanies] ([Id], [Company], [IsActive]) VALUES (1, N'LECS', 1)
SET IDENTITY_INSERT [dbo].[UsersCompanies] OFF
SET IDENTITY_INSERT [dbo].[UsersInRoles] ON 

INSERT [dbo].[UsersInRoles] ([Id], [RoleId], [UserId]) VALUES (10, 1, 16)
INSERT [dbo].[UsersInRoles] ([Id], [RoleId], [UserId]) VALUES (11, 1, 17)
SET IDENTITY_INSERT [dbo].[UsersInRoles] OFF
SET IDENTITY_INSERT [dbo].[VisitorReviews] ON 

INSERT [dbo].[VisitorReviews] ([Id], [VisitorId], [PropertyId], [Comments]) VALUES (1, 30, 21, N'My name is billa')
INSERT [dbo].[VisitorReviews] ([Id], [VisitorId], [PropertyId], [Comments]) VALUES (2, 35, 21, N'The critical issues with SOAP vs. REST are performance, scalability and adding new APIs.  Once you''ve pulled down a SOAP WSDL file and generated proxies to call it and built your client with those definitions, it''s a pain in the butt when that SOAP WSDL changes.  REST is entirely different, enabling REST service providers to add new APIs and new versions of APIs easily without disrupting clients that are using the existing ones.

')
SET IDENTITY_INSERT [dbo].[VisitorReviews] OFF
SET IDENTITY_INSERT [dbo].[YoutubeUrls] ON 

INSERT [dbo].[YoutubeUrls] ([Id], [FileName], [Url]) VALUES (2, N'nature1.jpg', N'http://www.youtube.com/watch?v=KgQAyyuz_qk')
SET IDENTITY_INSERT [dbo].[YoutubeUrls] OFF
/****** Object:  Index [IX_Country_Id]    Script Date: 8/1/2014 10:20:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Country_Id] ON [dbo].[Locations]
(
	[Country_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Region_Id]    Script Date: 8/1/2014 10:20:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Region_Id] ON [dbo].[Locations]
(
	[Region_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Rooms]    Script Date: 8/1/2014 10:20:45 PM ******/
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [IX_Rooms] UNIQUE NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CompanyId]    Script Date: 8/1/2014 10:20:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_CompanyId] ON [dbo].[Users]
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Settings_Id]    Script Date: 8/1/2014 10:20:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_Settings_Id] ON [dbo].[Users]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccommodationStandards] ADD  CONSTRAINT [DF_AccommodationStandards_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccommodationStandards] ADD  CONSTRAINT [DF_AccommodationStandards_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[AccommodationTypes] ADD  CONSTRAINT [DF_AccommodationTypes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AccommodationTypes] ADD  CONSTRAINT [DF_AccommodationTypes_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[BannerImages] ADD  CONSTRAINT [DF_BannerImages_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Bookings] ADD  CONSTRAINT [DF_Bookings_PaidAmount]  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Clients] ADD  CONSTRAINT [DF_Clients_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Companies] ADD  CONSTRAINT [DF_Companies_GrousId]  DEFAULT ((0)) FOR [GroupId]
GO
ALTER TABLE [dbo].[CompanyProfiles] ADD  CONSTRAINT [DF_CompanyProfile_CreatedBy]  DEFAULT ((1)) FOR [CreatedBy]
GO
ALTER TABLE [dbo].[Cuisines] ADD  CONSTRAINT [DF_Cuisines_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Designations] ADD  CONSTRAINT [DF_Designations_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[DiningRates] ADD  CONSTRAINT [DF_DiningRates_Rate]  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[DiningRates] ADD  CONSTRAINT [DF_DiningRates_ChildRate]  DEFAULT ((0)) FOR [ChildRate]
GO
ALTER TABLE [dbo].[FeatureCategories] ADD  CONSTRAINT [DF_FeatureCategories_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Features] ADD  CONSTRAINT [DF_Features_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Features] ADD  CONSTRAINT [DF_Features_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Features] ADD  CONSTRAINT [DF_Features_GroupId]  DEFAULT ((1)) FOR [GroupId]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_CompanyId]  DEFAULT ((1)) FOR [CompanyId]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_PaymentMade]  DEFAULT ((0)) FOR [PaymentMade]
GO
ALTER TABLE [dbo].[Invoices] ADD  CONSTRAINT [DF_Invoices_Commision]  DEFAULT ((0)) FOR [Commision]
GO
ALTER TABLE [dbo].[MainCities] ADD  CONSTRAINT [DF_MainCities_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Places] ADD  CONSTRAINT [DF_Places_PoiId]  DEFAULT ((1)) FOR [PoiId]
GO
ALTER TABLE [dbo].[PointOfInterests] ADD  CONSTRAINT [DF_PointOfInterests_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Property_PromotionAmount]  DEFAULT ((0)) FOR [PromotionAmount]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Property_PromotionType]  DEFAULT ((1)) FOR [PromotionType]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Property_ShowOnSliderBanner]  DEFAULT ((1)) FOR [ShowOnSliderBanner]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Property_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Properties_IsApproved]  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[Properties] ADD  CONSTRAINT [DF_Properties_IsPosted]  DEFAULT ((0)) FOR [IsPosted]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_PropertyId]  DEFAULT ((0)) FOR [PropertyId]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_Occupancy]  DEFAULT ((1)) FOR [Occupancy]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_DisplayPrice]  DEFAULT ((0)) FOR [DisplayPrice]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_Squarefeet]  DEFAULT ((0)) FOR [Squarefeet]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Rooms_Tax]  DEFAULT ((0)) FOR [Tax]
GO
ALTER TABLE [dbo].[Rooms] ADD  CONSTRAINT [DF_Room_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  CONSTRAINT [DF_RoundTrip_PromotionAmount]  DEFAULT ((0)) FOR [PromotionAmount]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  CONSTRAINT [DF_RoundTrip_PromotionType]  DEFAULT ((1)) FOR [PromotionType]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  CONSTRAINT [DF_RoundTrip_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  DEFAULT ((0)) FOR [NumOfDays]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  DEFAULT ((0.0)) FOR [TotalPrice]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  DEFAULT ((0)) FOR [RateForAdult]
GO
ALTER TABLE [dbo].[RoundTrips] ADD  DEFAULT ((0)) FOR [RateForChildren]
GO
ALTER TABLE [dbo].[Transports] ADD  CONSTRAINT [DF_Transports_Rate]  DEFAULT ((0)) FOR [Rate]
GO
ALTER TABLE [dbo].[TravelBies] ADD  CONSTRAINT [DF_TravelBies_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Locations]  WITH CHECK ADD  CONSTRAINT [FK_Locations_Regions_Region_Id] FOREIGN KEY([Region_Id])
REFERENCES [dbo].[Regions] ([Id])
GO
ALTER TABLE [dbo].[Locations] CHECK CONSTRAINT [FK_Locations_Regions_Region_Id]
GO
ALTER TABLE [dbo].[Places]  WITH CHECK ADD  CONSTRAINT [FK_Places_MainCities] FOREIGN KEY([Id])
REFERENCES [dbo].[MainCities] ([Id])
GO
ALTER TABLE [dbo].[Places] CHECK CONSTRAINT [FK_Places_MainCities]
GO
ALTER TABLE [dbo].[RoundTrips]  WITH CHECK ADD  CONSTRAINT [FK_RoundTrips_Countries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[RoundTrips] CHECK CONSTRAINT [FK_RoundTrips_Countries]
GO
ALTER TABLE [dbo].[RoundTrips]  WITH CHECK ADD  CONSTRAINT [FK_RoundTrips_Translators] FOREIGN KEY([TranslatorId])
REFERENCES [dbo].[Translators] ([Id])
GO
ALTER TABLE [dbo].[RoundTrips] CHECK CONSTRAINT [FK_RoundTrips_Translators]
GO
ALTER TABLE [dbo].[TripDayActivities]  WITH CHECK ADD  CONSTRAINT [FK_TripDayActivities_TripDays] FOREIGN KEY([TripDayId])
REFERENCES [dbo].[TripDays] ([Id])
GO
ALTER TABLE [dbo].[TripDayActivities] CHECK CONSTRAINT [FK_TripDayActivities_TripDays]
GO
ALTER TABLE [dbo].[TripDays]  WITH CHECK ADD  CONSTRAINT [FK_TripDays_EndPlace] FOREIGN KEY([EndPlaceId])
REFERENCES [dbo].[Places] ([Id])
GO
ALTER TABLE [dbo].[TripDays] CHECK CONSTRAINT [FK_TripDays_EndPlace]
GO
ALTER TABLE [dbo].[TripDays]  WITH CHECK ADD  CONSTRAINT [FK_TripDays_RoundTrips] FOREIGN KEY([RoundTripId])
REFERENCES [dbo].[RoundTrips] ([Id])
GO
ALTER TABLE [dbo].[TripDays] CHECK CONSTRAINT [FK_TripDays_RoundTrips]
GO
ALTER TABLE [dbo].[TripDays]  WITH CHECK ADD  CONSTRAINT [FK_TripDays_StartPlace] FOREIGN KEY([StartingPlaceId])
REFERENCES [dbo].[Places] ([Id])
GO
ALTER TABLE [dbo].[TripDays] CHECK CONSTRAINT [FK_TripDays_StartPlace]
GO
USE [master]
GO
