@{
    ViewBag.Title = "activation email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- BEGIN .content-wrapper -->
    <div class="content-wrapper clearfix">
			
		<div class="booking-main-wrapper">
				
            <div class="booking-main">
					
                <h4 class="title-style4">Thank you!<span class="title-block"></span></h4>

              
                    <div >
							
							<p style="font-size: 14px">
							    <strong>success! </strong><br />please note that an email containing an activation link to confirm your email address has been sent to your email address. in order to use horakelle estate, it is necessary that you activate this address once.
                            </p>

						</div>
                   
                    				
                
            </div>
				
        </div>
			
        <div class="booking-side-wrapper">
            <div class="booking-side clearfix">
                <h4 class="title-style4">User Registration<span class="title-block"></span></h4>

                <h4><a href="/Account/VisitorRegistration"><span style="color:white">Visitor Registration</span></a></h4>
                <br/>
                <h4><a href="/Account/ClientRegistration"><span style="color:white">Agent Registration</span></a></h4>
                
                <hr class="space9" />		
            </div>
				
        </div>
			
        <!-- END .content-wrapper -->
    </div>
    
    
