@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="">
			<h1>Oops!</h1>
			<p>Sorry, There are some issues found, we will fix as soon as possible...! </p>
			
		</div>